In [2]:
a, b = map(int,(input().split()))

In [22]:
a = {
        5  : {"정원":"A+"},
        3  : {"윤정": "A+"},
        1  : {"세영":"A+"}
    }
a[3]

{'윤정': 'A+'}

In [8]:
a.get(3)

{'세영': 'A+'}

In [18]:
for row in a.items():
    print(row)

for row in a:
    print(row)

(1, {'정원': 'A+'})
(2, {'윤정': 'A+'})
(3, {'세영': 'A+'})
1
2
3

In [15]:
for k, v in a.items():
    print(k,v)

1 {'정원': 'A+'}
2 {'윤정': 'A+'}
3 {'세영': 'A+'}

In [20]:
e = [4, 5, 3]
c = sorted(e) # built-in 함수
c

[3, 4, 5]

In [23]:
q = sorted(a.items())
q

[(1, {'세영': 'A+'}), (3, {'윤정': 'A+'}), (5, {'정원': 'A+'})]

In [27]:
first = lambda x : x[0] # 첫번째거를 가져와라
second = lambda x : x[1]    # 두번째거를 가져와라
for row in a.items():
    print(first(row), second(row))

5 {'정원': 'A+'}
3 {'윤정': 'A+'}
1 {'세영': 'A+'}

In [30]:
sorted(a.items(), key=second)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [33]:
d1 = {
    'a' : {
        'aa' : 1,
        'aa1' : 2
         },
    'b' : {
        'bb' : 1,
        'bb1' : 2
    },
    'c' : {},
    'd' : range(10)

}

d1

{'a': {'aa': 1, 'aa1': 2}, 'b': {'bb': 1, 'bb1': 2}, 'c': []}

In [34]:
h = "hello"

'hello'

In [35]:
h[0] = 'H'
h

TypeError: 'str' object does not support item assignment

In [37]:
db2 = {}
db2['a'] = list()
db2['a'].append('3')
db2

{'a': ['3']}

In [38]:
def add(a, b):
    return a+b
add(1, 2)

3

In [39]:
data = {'a' : 1 , 'b' : 2, 'c' : 3}
data

{'a': 1, 'b': 2, 'c': 3}

In [42]:
[k, j for k, v in data.items()]

data

SyntaxError: invalid syntax (169622811.py, line 1)

In [45]:
[x**2 for x in range(5)]

TypeError: unsupported operand type(s) for ** or pow(): 'dict' and 'int'

In [46]:
print("hi")

hi

### 파이썬

In [49]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [53]:
a = [1, 2, 3]
b = []

for _ in range(3):
    #p = a.pop()
    b.append(a[-1])
    del a[-1]

a, b

([], [3, 2, 1])

In [54]:
a = [1, 2, 3]
b = []

while a :
    b.append(a.pop())

a, b


while True:
    if a == [] : break
    b.append(a.pop())

([], [3, 2, 1])

In [55]:
a = [1, 2, 3]
a.remove(2)
a

[1, 3]

In [57]:
d1 = {}
d1['정원'] = list(map(int, input().split()))
d1

{'정원': [123, 456, 789]}

In [9]:
a, b = input().split()
print(type(a))

<class 'str'>

In [1]:
print(2 == '2')

False

In [3]:
arr = [5, 2, 3, 4]
for i of arr:
    print(i)

SyntaxError: invalid syntax (341050421.py, line 2)